:root{
    --width-img: 400px;
    --height-img: 300px;
}


*{
    padding: 0;
    margin: 0;
}

html, body{
    width: 100%;
    height: 100%;
}

div.container_img{
    width: var(--width-img); 
    height: var(--height-img);
}

div.container_img img{
    position: absolute;
    display: block;
    top: 60px;
    left: calc(50% - calc(var(--width-img)/2));
    width: var(--width-img);
    height: var(--height-img);
    border-radius: 10px;
    transition: 1s;
}

div.container_select{
    display: flex;
    position: relative;
    margin: 100px auto;
    width: 180px;
    height: 50px;
    justify-content: space-around;
}

div.container_select > div{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 10px;
    background-color: dimgrey;
}

#option1{
    background-color: rgb(61, 59, 59);
}

#img1{
    opacity: 1;
}

#img2{
    opacity: 0;
}

#img3{
    opacity: 0;
}


